<div id="container">
  <p-card header="LOGIN" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
      />
    </ng-template>
    <p>Lorem ipsum dolor sit amet...</p>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button
          label="Cancel"
          severity="secondary"
          class="w-full"
          styleClass="w-full"
        />
        <p-button label="Save" class="w-full" styleClass="w-full" />
      </div>
    </ng-template>
  </p-card>
</div>
