<p-sidebar [(visible)]="display">
  <h3>MENU</h3>
  <!-- PRODUCCIONES -->
  <div class="flex flex-column">
    <p-button
      label="Producciones"
      styleClass="nav-link"
      icon="fa-solid fa-wine-bottle"
      link="true"
      [routerLink]="['producciones']"
    ></p-button>
    <!-- INSUMOS -->
    <p-button
      label="Insumos"
      styleClass="nav-link"
      icon="fa-solid fa-truck-field"
      link="true"
      [routerLink]="['insumos']"
    ></p-button>
    <!-- RECETAS -->
    <p-button
      label="Recetas"
      styleClass="nav-link"
      icon="fa-solid fa-book"
      link="true"
      [routerLink]="['recetas']"
    ></p-button>
    <!-- ROLES -->
    <p-button
      label="Roles"
      styleClass="nav-link"
      icon="fa-solid fa-address-book"
      link="true"
      [routerLink]="['roles']"
    ></p-button>
    <!-- PROVEEDORES -->
    <p-button
      label="Proveedores"
      styleClass="nav-link"
      icon="fa-solid fa-truck-ramp-box"
      link="true"
      [routerLink]="['proveedores']"
    ></p-button>
  </div>
</p-sidebar>
