<p-dialog
  #modal
  [(visible)]="mostrarModal"
  [draggable]="false"
  [maximizable]="false"
  [modal]="true"
  (onHide)="hide()"
>
  <form [formGroup]="form">
    <div class="field">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        pInputText
        formControlName="nombre"
        id="id"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['nombre']"
        label="Nombre"
      ></app-form-error-messages>
    </div>

    <div class="field">
      <label for="correo">Correo</label>
      <input
        type="text"
        pInputText
        formControlName="correo"
        id="id"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['correo']"
        label="Correo"
      ></app-form-error-messages>
    </div>

    <div class="field flex flex-column">
      <label for="rol">Rol</label>
      <p-dropdown
        [options]="roles"
        formControlName="rol"
        placeholder="Selecciona un rol"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['rol']"
        label="Rol"
      ></app-form-error-messages>
    </div>

    <div class="field flex flex-column">
      <label for="contrasenia">Contraseña</label>
      <p-password
        promptLabel="Escoje una contraseña"
        class="w-full"
        formControlName="contrasenia"
        weakLabel="Muy simple"
        mediumLabel="Vas bien un poco más!"
        strongLabel="Contraseña segura"
        [toggleMask]="true"
      />
      <app-form-error-messages
        [control]="f['contrasenia']"
        label="Contraseña"
      ></app-form-error-messages>
    </div>

    <div class="field flex justify-content-center gap-1">
      <p-button
        #btnGuardar
        label="Guardar"
        styleClass="w-full"
        icon="fa-solid fa-save"
        [loading]="cargando"
        [disabled]="form.invalid || !form.dirty || cargando"
        (click)="nuevo ? registrar() : editar()"

      ></p-button>
      <p-button
        #btnCancelar
        label="Cancelar"
        styleClass="w-full"
        icon="fa-solid fa-times"
        (click)="mostrarModal = false"
      ></p-button>
    </div>

    <p-progressBar mode="indeterminate" *ngIf="cargando" />
  </form>
</p-dialog>
