<p-dialog
  [(visible)]="display"
  [draggable]="false"
  [maximizable]="false"
  [header]="titulo"
  [modal]="true"
  (onHide)="ocultar()"
>
  <form [formGroup]="proveedoresForm">
    <div class="field">
      <label for="id"> ID </label>
      <input pInputText formControlName="id" id="id" class="w-full" />
    </div>

    <!-- EMPRESA -->

    <div class="field">
      <label for="empresa"> EMPRESA </label>
      <input
        pInputText
        formControlName="empresa"
        placeholder="Empresa"
        class="w-full"
      />
    </div>

    <div class="field">
      <label for="nombre"> NOMBRE DEL CONTACTO </label>
      <input
        pInputText
        formControlName="nombreContacto"
        placeholder="Nombre del contacto"
        id="nombreContacto"
        class="w-full"
      />

    </div>

    <!-- TELEFONO -->

    <div class="field">
      <label for="telefono"> TELEFONO </label>
      <input
        pInputText
        formControlName="telefono"
        placeholder="Telefono"
        id="telefono"
        class="w-full"
      />
    </div>

    <div class="field">
      <label for="direccion"> DIRECCION </label>
      <input
        pInputText
        formControlName="direccion"
        placeholder="Direccion"
        id="direccion"
        class="w-full"
      />
    </div>

    <div class="field">
      <label for="email"> EMAIL </label>
      <input
        pInputText
        formControlName="email"
        placeholder="Email"
        id="email"
        class="w-full"
      />
    </div>

    <div class="field flex justify-content-center gap-1">
      <p-button
        [label]="labelBoton"
        styleClass="w-full"
        icon="fa-solid fa-save"
        (click)="modificar ? actualizar() : guardar()"
      ></p-button>
      <p-button
        label="Cancelar"
        styleClass="w-full"
        icon="fa-solid fa-times"
        (click)="display = false"
      ></p-button>
    </div>
  </form>
</p-dialog>
