<p-dialog
  [(visible)]="display"
  [draggable]="false"
  [maximizable]="false"
  [header]="titulo"
  [modal]="true"
  (onHide)="ocultar()"
>
  <form [formGroup]="proveedoresForm">
    <!-- EMPRESA -->
    <div class="field">
      <label for="empresa"> EMPRESA </label>
      <input
        pInputText
        formControlName="empresa"
        placeholder="Empresa"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['empresa']"
        label="Empresa"
      ></app-form-error-messages>
    </div>

    <!-- NOMBRE DEL CONTACTO -->
    <div class="field">
      <label for="nombre"> NOMBRE DEL CONTACTO </label>
      <input
        pInputText
        formControlName="nombreContacto"
        placeholder="Nombre del contacto"
        id="nombreContacto"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['nombreContacto']"
        label="Nombre de Contacto"
      ></app-form-error-messages>
    </div>

    <!-- TELEFONO -->
    <div class="field">
      <label for="telefono"> TELEFONO </label>
      <p-inputMask
        formControlName="telefono"
        placeholder="Telefono"
        id="telefono"
        class="w-full"
        (onFocus)="obtenerErrores('telefono')"
        styleClass="w-full"
        mask="9999999999"
        placeholder="0000000000"
        type="text"
        [maxlength]="10"
        [minlength]="10"
      />
      <app-form-error-messages
        [control]="f['telefono']"
        label="Teléfono"
      ></app-form-error-messages>
    </div>

    <!-- DIRECCION -->
    <div class="field">
      <label for="direccion"> DIRECCION </label>
      <input
        pInputText
        formControlName="direccion"
        placeholder="Direccion"
        id="direccion"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['direccion']"
        label="Dirección"
      ></app-form-error-messages>
    </div>

    <!-- EMAIL -->
    <div class="field">
      <label for="email"> EMAIL </label>
      <input
        pInputText
        formControlName="email"
        placeholder="Email"
        id="email"
        class="w-full"
        (input)="obtenerErrores('email')"
      />
      <app-form-error-messages
        [control]="f['email']"
        label="Email"
      ></app-form-error-messages>
    </div>

    <!-- BOTONES -->
    <div class="field flex justify-content-center gap-1">
      <p-button
        [label]="labelBoton"
        styleClass="w-full"
        icon="fa-solid fa-save"
        [disabled]="proveedoresForm.invalid || !proveedoresForm.dirty"
        (click)="modificar ? actualizar() : guardar()"
      ></p-button>
      <p-button
        label="Cancelar"
        styleClass="w-full"
        icon="fa-solid fa-times"
        (click)="display = false"
      ></p-button>
    </div>
  </form>
</p-dialog>
