h1 {
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.filtros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media (min-width: 768px) {
  .contenedor-productos {
    grid-template-columns: repeat(2, 1fr);
  }

  .filtros {
    flex-direction: row;
  }
}

@media (min-width: 1140px) {
  .contenedor-productos {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10rem;
  }
}

input.ng-valid {
  border-color: #ed9224;
  padding: 0.75rem;
  color: #ed9224;
}

input::placeholder {
  color: #ed9224;
}

:host ::ng-deep p-dropdown.ng-valid > div {
  border-color: #ed9224;
  border-width: 2px;
  color: #ed9224;
}

:host ::ng-deep p-dropdown.ng-valid > div > span{
  
  color: #ed9224;
}

:host ::ng-deep p-button.p-element > button {
  padding: 0.75rem;
  border-width: 2px;
}
