<div class="contenedor">
  <div class="contenedor-cuenta">
    <h1>Mi cuenta</h1>

    <div class="contenedor-modulos">
      <div class="contenedor-modulo">
        <a class="modulo" [routerLink]="['/cerverica/pedidos']">
          <div class="imagen">
            <i class="pi pi-receipt"></i>
          </div>
          <div class="información">
            <h3>Mis pedidos</h3>
            <p>Rastrear mis pedidos</p>
          </div>
        </a>
      </div>

      <div class="contenedor-modulo">
        <a class="modulo" [routerLink]="['/cerverica/perfil']">
          <div class="imagen">
            <i class="pi pi-user"></i>
          </div>
          <div class="información">
            <h3>Mi perfil</h3>
            <p>Actualizar mis datos</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
