<app-menu #menu></app-menu>

<div class="flex flex-column w-full" style="height: 90vh">
  <div class="flex-row">
    <div class="grid m-0 p-0">
      <div class="col-1 justify-content-center align-content-center">
        <div class="flex justify-content-center align-content-center">
          <p-button
            [outlined]="true"
            [raised]="true"
            severity="secondary"
            icon="pi pi-bars"
            label="Menu"
            [class]="'menu.btn'"
            (click)="menu.display = !menu.display"
            styleClass="global-hover-effect"
          ></p-button>
        </div>
      </div>
      <div class="col-11 flex align-items-center justify-content-center">
        <span
          class="font-bold text-6xl"
          style="font-family: 'Arial', sans-serif; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); color: #ed9224;"
          >{{ titulo }}</span
        >
      </div>
    </div>
  </div>
  <div class="flex-1 p-2">
    <p-card styleClass="h-full shadow-5">
      <router-outlet></router-outlet>
    </p-card>
  </div>
</div>
