<section>
    <div class="image">
        <img src="./img/logo-completo.png">
    </div>

    <div class="content">
        <h2>Sobre Nosotros</h2>
        <span class="line"></span>
        <p>
            <span class="color-principal">Cerverica</span> es una empresa cervecera artesanal comprometida con la elaboración de
            cervezas excepcionales que
            capturan la esencia de nuestra pasión por la calidad y la tradición. Fundada con el objetivo de brindar una
            experiencia única en cada sorbo, nuestras cervezas son el resultado de una cuidadosa selección de
            ingredientes naturales y procesos de producción que combinan técnicas ancestrales con la innovación moderna.
        </p>
        <ul class="icons">
            <li>
                <i class="pi pi-twitter"></i>
            </li>
            <li>
                <i class="pi pi-facebook"></i>
            </li>
            <li>
                <i class="pi pi-youtube"></i>
            </li>
            <li>
                <i class="pi pi-pinterest"></i>
            </li>
        </ul>
    </div>
</section>