<p-dialog [(visible)]="display" [draggable]="false" [maximizable]="false" [header]="titulo" [modal]="true"
  (onHide)="ocultar()">
  <form [formGroup]="insumoForm">
    <div class="field">
      <label for="nombre"> NOMBRE </label>
      <input type="text" pInputText formControlName="nombre" id="nombre" class="w-full" />
    </div>

    <div class="field">
      <label for="descripcion"> DESCRIPCION </label>
      <textarea rows="5" cols="30" pInputTextarea formControlName="descripcion" class="w-full"></textarea>
    </div>

    <div class="field">
      <label for="unidadMedida"> UNIDAD DE MEDIDA </label>
      <p-dropdown formControlName="unidadMedida" [options]="unidadesMedida" placeholder="Unidad De Medida"
        styleClass="w-full" />
    </div>

    <div class="field flex flex-column">
      <label for="cantidadMaxima">CANTIDAD MAXIMA {{insumoForm.value.unidadMedida}}</label>
      <p-inputNumber formControlName="cantidadMaxima" inputId="cantidadMaxima"
        [minFractionDigits]="minFractionDigits" />
    </div>

    <div class="field flex flex-column">
      <label for="cantidadMinima"> CANTIDAD MINIMA {{insumoForm.value.unidadMedida}}</label>
      <p-inputNumber formControlName="cantidadMinima" inputId="cantidadMinima"
        [minFractionDigits]="minFractionDigits" />
    </div>

    <div class="field flex flex-column">
      <label for="merma"> MERMA {{insumoForm.value.unidadMedida}}</label>
      <p-inputNumber formControlName="merma" inputId="merma" [minFractionDigits]="minFractionDigits" />
    </div>

    <div class="mensajes-error" *ngIf="mensajesError != ''">
      <div [innerHTML]="mensajesError"></div>
    </div>

    <div class="field flex justify-content-center gap-1">
      <p-button [label]="labelBoton" styleClass="w-full" icon="fa-solid fa-save" [disabled]="insumoForm.invalid"
        [loading]="cargando" (click)="modificar ? actualizar() : guardar()"></p-button>
      <p-button label="Cancelar" styleClass="w-full" icon="fa-solid fa-times" (click)="display = false"></p-button>
    </div>
  </form>

  <p-progressBar mode="indeterminate" *ngIf="cargando" />
</p-dialog>