<p-dialog
  [(visible)]="display"
  [modal]="true"
  appendTo="body"
  header="Nueva Solicitud de Produccion"
  [style]="{ width: '600px' }"
>
  <form [formGroup]="form">
    <div class="field">
      <label for="idUsuario"> OPERADOR </label>
      <p-dropdown
        formControlName="idUsuario"
        [options]="usuariosOperador"
        optionLabel="nombre"
        placeholder="Receta"
        optionValue="idUsuario"
        placeholder="Asignar Operador"
        styleClass="w-full"
        appendTo="body"
      />
      <app-form-error-messages
        [control]="f['idUsuario']"
        label="Operador"
      ></app-form-error-messages>
    </div>
    <div class="field">
      <label for="idReceta"> RECETA </label>
      <p-dropdown
        formControlName="idReceta"
        [options]="recetas"
        optionLabel="nombre"
        placeholder="Receta"
        optionValue="idReceta"
        placeholder="Seleccionar Rreceta"
        styleClass="w-full"
        appendTo="body"
      />

      <app-form-error-messages
        [control]="f['idReceta']"
        label="Receta"
      ></app-form-error-messages>
    </div>
    <div class="field">
      <label for="numeroTandas">CANTIDAD</label>
      <p-inputNumber
        type="text"
        formControlName="numeroTandas"
        label="CANTIDAD"
        id="numeroTandas"
        class="w-full"
        [min]="1"
        [allowEmpty]="false"
      />
      <app-form-error-messages
        [control]="f['numeroTandas']"
        label="Cantidad"
      ></app-form-error-messages>
    </div>
    <div class="field text-center">
      <p-button
        label="Guardar"
        icon="pi pi-save"
        (click)="guardar()"
        class="w-full"
        [disabled]="!form.valid"
      ></p-button>
    </div>
  </form>
</p-dialog>
