.contenedor-perfil {
  max-height: 90vh;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-login {
  background-color: #fff;
  display: grid;
  box-shadow:
    0px 4px 8px rgba(0, 0, 0, 0.2),
    0px 10px 20px rgba(0, 0, 0, 0.15);
  grid-template-columns: 1fr;
  border-radius: 10px;
  width: 100%;
}

.nombre-perfil {
  font-weight: bold;
  font-size: 1.5rem;
}

.rol {
  margin: 0;
  font-size: 1.25rem;
  color: var(--color-principal);
  font-weight: bold;
}

.card-login .contenedor-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 2.5rem;
  border-bottom: 1px solid var(--color-principal);
}

hr {
  border-color: var(--color-principal);
  height: 1px;
  opacity: 30%;
}

.card-login .informacion {
  padding: 2rem;
}

.contenedor-inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 3rem;
}

.contenedor-submit {
  display: flex;
  margin-top: 1rem;
  justify-content: end;
}

@media (min-width: 768px) {
  .card-login {
    width: 70%;
  }
}

@media (min-width: 1240px) {
  .contenedor-inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-login {
    grid-template-columns: 3fr 5fr;
  }

  .card-login .contenedor-imagen {
    border-right: 1px solid var(--color-principal);
  }
}
