<p-dialog
  #modal
  [style]="{ width: '50rem' }"
  [(visible)]="display"
  [draggable]="false"
  [maximizable]="false"
  [modal]="true"
  (onHide)="ocultar()"
>
  <form [formGroup]="recetaForm">
    <div class="field" *ngIf="modificar">
      <!-- PASOS -->

      <p-button
        label="PASOS"
        icon="fa-solid fa-plus"
        (click)="pasosDialog.show(recetaForm.get('id')!.value)"
      ></p-button>
    </div>

    <!-- NOMBRE -->

    <div class="field">
      <label for="nombre"> NOMBRE </label>
      <input
        type="text"
        pInputText
        formControlName="nombre"
        id="nombre"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['nombre']"
        label="Nombre"
      ></app-form-error-messages>
    </div>

    <div class="field">
      <label for="litrosEstimados"> LITROS ESTIMADOS </label>
      <p-inputNumber
        formControlName="litrosEstimados"
        inputId="litrosEstimados"
        mode="decimal"
        [suffix]="'L'"
        [min]="1"
        styleClass="w-full"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['litrosEstimados']"
        label="Litros Estimados"
      ></app-form-error-messages>
    </div>

    <div class="field">
      <p-card header="PRECIOS" styleClass="shadow-5">
        <!-- PRECIO PAQUETE 1 -->

        <div class="field">
          <label for="precioPaquete1"> 1 BOTELLA </label>
          <p-inputNumber
            formControlName="precioPaquete1"
            inputId="precioPaquete1"
            mode="currency"
            currency="MXN"
            styleClass="w-full"
            class="w-full"
            (onInput)="calcularPrecios()"
          />

          <app-form-error-messages
            [control]="f['precioPaquete1']"
            label="Precio Paquete 1"
          ></app-form-error-messages>
        </div>

        <!-- PRECIO PAQUETE 6 -->

        <div class="field">
          <label for="precioPaquete6"> 6 PACK </label>
          <p-inputNumber
            formControlName="precioPaquete6"
            inputId="precioPaquete6"
            mode="currency"
            currency="MXN"
            styleClass="w-full"
            class="w-full"
          />
          <app-form-error-messages
            [control]="f['precioPaquete6']"
            label="Precio Paquete 6"
          ></app-form-error-messages>
        </div>

        <!-- PRECIO PAQUETE 12 -->

        <div class="field">
          <label for="precioPaquete12"> 12 PACK </label>
          <p-inputNumber
            formControlName="precioPaquete12"
            inputId="precioPaquete12"
            mode="currency"
            currency="MXN"
            styleClass="w-full"
            class="w-full"
          />
          <app-form-error-messages
            [control]="f['precioPaquete12']"
            label="Precio Paquete 12"
          ></app-form-error-messages>
        </div>

        <!-- PRECIO PAQUETE 12 -->

        <div class="field">
          <label for="precioPaquete24"> 24 PACK </label>
          <p-inputNumber
            formControlName="precioPaquete24"
            inputId="precioPaquete24"
            mode="currency"
            currency="MXN"
            styleClass="w-full"
            class="w-full"
          />
          <app-form-error-messages
            [control]="f['precioPaquete24']"
            label="Precio Paquete 24"
          ></app-form-error-messages>
        </div>
      </p-card>
    </div>

    <!-- DESCRIPCION -->

    <div class="field">
      <label for="descripcion"> DESCRIPCION </label>
      <textarea
        rows="5"
        pInputTextarea
        [autoResize]="false"
        formControlName="descripcion"
        class="w-full"
        styleClass="w-full"
      ></textarea>

      <app-form-error-messages
        [control]="f['descripcion']"
        label="Descripción"
      ></app-form-error-messages>
    </div>

    <!-- ESPECIFICACIONES -->

    <div class="field">
      <label for="especificaciones"> ESPECIFICACIONES </label>
      <textarea
        pInputTextarea
        rows="5"
        [autoResize]="false"
        formControlName="especificaciones"
        class="w-full"
        styleClass="w-full"
      ></textarea>
      <app-form-error-messages
        [control]="f['especificaciones']"
        label="Especificaciones"
      ></app-form-error-messages>
    </div>

    <!-- TIEMPO VIDA -->

    <div class="field">
      <label for="tiempoVida"> TIEMPO VIDA </label>
      <p-inputNumber
        formControlName="tiempoVida"
        inputId="tiempoVida"
        mode="decimal"
        [suffix]="' Días'"
        [min]="1"
        styleClass="w-full"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['tiempoVida']"
        label="Tiempo Vida"
      ></app-form-error-messages>
    </div>

    <!-- IMAGEN -->

    <div class="field">
      <label for="imagen"> IMAGEN </label>
      <input
        type="text"
        pInputText
        formControlName="imagen"
        id="imagen"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['imagen']"
        label="Imagen"
      ></app-form-error-messages>
    </div>

    <!-- RUTA FONDO -->

    <div class="field">
      <label for="rutaFondo"> RUTA FONDO </label>
      <input
        type="text"
        pInputText
        formControlName="rutaFondo"
        id="rutaFondo"
        class="w-full"
      />
      <app-form-error-messages
        [control]="f['rutaFondo']"
        label="Ruta Fondo"
      ></app-form-error-messages>
    </div>

    <!-- INGREDIENTES -->

    <div class="field">
      <label for=""> INGREDIENTES </label>
      <p-multiSelect
        [options]="insumos"
        optionLabel="nombre"
        placeholder="Ingredientes"
        class="w-full"
        styleClass="w-full"
        display="chip"
        [appendTo]="'body'"
        [showClear]="true"
        [filter]="true"
        [(ngModel)]="insumosSeleccionados"
        [ngModelOptions]="{ standalone: true }"
        (onChange)="onInsumosChange($event)"
      />
      <app-form-error-messages
        [control]="f['ingredientes']"
        label="Ingredientes"
      ></app-form-error-messages>
    </div>

    <!-- INGREDIENTES SELECCIONADOS -->
    <div formArrayName="ingredientesReceta">
      <div
        class="field"
        *ngFor="let ingrediente of ingredientesReceta.controls; let i = index"
        [formGroupName]="i"
      >
        <label for="cantidad-{{ i }}">
          {{ ingrediente.get("nombre")!.value }}
        </label>
        <p-inputNumber
          formControlName="cantidad"
          id="cantidad-{{ i }}"
          mode="decimal"
          [suffix]="ingrediente.get('unidadMedida')!.value"
          [min]="1"
          styleClass="w-full"
          class="w-full"
        />
        <app-form-error-messages
          [control]="ingrediente.get('cantidad')"
          label="Cantidad"
        ></app-form-error-messages>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="field flex justify-content-center gap-1">
      <p-button
        #btnGuardar
        [label]="modificar ? 'Actualizar' : 'Guardar'"
        styleClass="w-full"
        icon="fa-solid fa-save"
        (click)="modificar ? actualizar() : guardar()"
        [disabled]="recetaForm.invalid"
      ></p-button>
      <p-button
        #btnCancelar
        label="Cancelar"
        styleClass="w-full"
        icon="fa-solid fa-times"
        (click)="display = false"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<app-recetas-modal-pasos #pasosDialog></app-recetas-modal-pasos>
